body {
  color: $color_font-dark;
  font-size: $font_size-base;
  font-family: $font_family-primary;
  line-height: 1.4285em;

  background: $color_bg-light;

  & > .ember-view,
  #root > .component.App {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
  }
}

main {
  flex: 1 1 auto;

  padding-bottom: 50px;
}

h1 {
  font-family: $font_family-primary;
  font-size: $h1_size;
  font-weight: bolder;
}

h2 {
  font-family: $font_family-primary;
  font-size: $h2_size;
  font-weight: bold;
  margin: 0 0 30px 0;
}

h3 {
  font-family: $font_family-primary;
  font-size: $h3_size;
  font-weight: bold;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: $p_size;
  font-weight: lighter;
}


.divider-column {
  position: relative;

  padding: 0 !important;
}

.scroll-horizontal-rotated {
  border: 1px solid #95989A;
  overflow-x: auto;
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.cancel-rotate {
  padding-top: 10px;
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.lift { box-shadow: 0 2px 4px rgba(0,0,0,.14); }

.page-header {
  padding: 2rem 0;
  background: $color_bg-medium;
}

.page-section {
  &.grey { background: $color_bg-medium; }
}

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0,0,0,.25);
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

body ::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
  border-radius: 0;
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgb(146,152,155);
}

::selection {
  background-color: #cce2ff;
  color: rgba(0,0,0,.87);
}