.leaflet {
  &-container {
    height: 31.25rem;
    width: 100%;
  }

  &-control-container {
    height: 31.25rem;
    width: 100%;
  }

  &-top {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
  }

  &-bottom {
    bottom: 0;
  }

  &-right {
    right: 0;
  }

  &-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
  }

  &__legend {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 6.25rem;
    z-index: 1000;

    background-color: rgba(255, 255, 255, 0.8);
    width: 168px;
    min-height: 20px;
    padding: 5px 15px;
  }
}
