.map {
  &__overlay {
    position: absolute;
    right: 8px;
    top: 150px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
  }

  &__legend-entry {
    font-family: 'Montserrat';
    font-size: .75rem;
    font-weight: 300;
  }

  &__legend-entry--bold {
    font-weight: 700;
  }

  &__legend-link {
    text-decoration: underline;
  }
}