.mapboxgl {
  &__tooltip {
    background: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .24);
    font: 16px sans-serif;
    max-width: 12.5rem;
    padding: 12px;
    pointer-events: none;
  }

  &__legend {
    position: absolute;
    right: 0;
    z-index: 10;
  }

  &__legend-entry {
    font-family: 'Montserrat';
    font-size: .75rem;
    font-weight: 300;
  }

  &__legend-entry--bold {
    font-weight: 700;
  }

  &__legend-link {
    text-decoration: underline;
  }
}
.mapboxgl-popup {
  z-index: 20;
}

.map {
  &__overlay {
    position: absolute;
    right: 8px;
    top: 150px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
  }

  &__legend-entry {
    font-family: 'Montserrat';
    font-size: .75rem;
    font-weight: 300;
  }

  &__legend-entry--bold {
    font-weight: 700;
  }

  &__legend-link {
    text-decoration: underline;
  }
}