.map-narrative {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 20px;
  padding: 5px 15px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 300px;
  z-index: 1000;

  &__button {

  }
}
