.calendar-viz__chart-wrapper > .vega-embed.has-actions {
  border: 1px dashed red;
  padding-right: 0;
}

.calendar-viz__chart-wrapper > .vega-embed details {
  display: none;
  position: unset;
  top: unset;
  right: unset;
}