.component.CommunitySelector {

  height: 780px;
  width: 100%;

  text-align: center;

  @include media(small) {
    height: auto;
    padding: 60px 0 110px;
    background: $color_bg-medium;

    .MapBox { display: none; }
  }

  .search-box {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 10;

    width: 25%;
    margin: 0 auto;

    text-align: left;

    @include media(small) {
      position: relative;
      top: initial;
      left: initial;

      width: 85%;

      .SearchBar {
        width: 100%;

        ul { max-height: 25vh; }
      }
    }
  }

  h2 {
    padding: 0 !important;
  }

  p {
    margin: 20px auto;

    font-size: $font_size-medium;
    line-height: $font_size-large - $font_mod-small;
  }


}
