.container {
  width: calc(100% - 4em);
  max-width: 1400px;
  margin: 0 auto;

  text-align: left;

  @include media(medium) { width: 94%; }
  @media print { width: 94%; }

  &.tight {
    padding-left: 7.07rem;
    padding-right: 7.07rem;

    @include media(large) { padding: initial; }
    @media print { padding: initial; }
  }
}
