.container {
  margin: 0 auto;
  max-width: 1400px;
  width: calc(100% - 4em);


  @include media(medium) { width: 94%; }
  @media print { width: 94%; }

  &.tight {
    padding-left: 7.07rem;
    padding-right: 7.07rem;

    @include media(large) { padding: 0; }
    @media print { padding: 0; }
  }
}
