header {
  background: $color_bg-light;
  padding: 16px 0 10px;
  width: 100%;

  nav {
    flex: 1 0;
    overflow-x: auto;
    .scroll-wrapper {
      width: max-content;
      div, ul {
        display: inline-block;
      }
      ul {
        @media print {
          display: none;
        }
      }
    }
  }

  .header-brand {
    font-size: $font_size-large;
    font-weight: 500;
    a {
      color: $color_font-dark;
      &:hover {
        color: $color_font-dark--brand;
      }
    }

    img {
      height: 29px;
      margin-right: 10px;
      top: 5px;
      width: 29px;
    }
  }
  ul {
    font-size: $font_size-small;
    margin-left: 2em;
    li {
      display: inline-block;
      margin: auto 2em;
      @include media(small) {
        margin: auto 1em;
      }
    }

    a {
      $_speed: .12s;
      color: $color_font-medium;
      transition: color $_speed;

      &:hover {
        color: $color_font-medium--dark;
        transition: color $_speed;
      }

      &.active {
        color: $color_font-dark;
        font-weight: 700;
        transition: color $_speed;

        &:hover { color: $color_font-dark--brand; }
      }
    }
  }

  .login-button {
    display: none;
    flex: 0 1;
  }
}
