@import 'normalize'; // Using the Normalize.css library to help with reset

html { font-size: $font_size-base; }

* {
  position: relative;
  box-sizing: border-box;
}

a {
  color: $color_font-dark;
  text-decoration: none;

  outline: none;
}

button, img { outline: none; }

ul {
  padding: 0;

  list-style: none;
}
