{
  "plugins": [
    "root-import",
    "transform-object-rest-spread",
    "wildcard",
    [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "presets": ["env"]
}
