.route.categories {

  .search-bar { width: 60%; }

  .category-lists {
    @extend ._partial-bg;

    .container { display: flex; }

    .scrollable-menus {
      animation-duration: .8s;
      animation-name: slidein;
      background: $color_bg-light;
      flex: 1 0 29%;
      margin-right: 2%;
      max-width: 29%;
      max-height: max-content;


      &:nth-of-type(3) {
        flex: 1 0 38%;
        margin-right: 0;
        max-width: 38%;
      }

      h3 {
        border: 1px solid $color_font-medium;
        font-size: $font_size-xsmall;
        font-weight: 400;
        margin: 0;
        padding: .5em 1.4em;
      }
    }

    .category-item-content {
      display: flex;

      & > .category-item-column {
        flex: 1 1 75%;

        &:last-of-type { flex: 0 1 25%; }
      }
    }
  }
}

@keyframes slidein {
  from {
    margin-left: -29%;
    z-index: -1;
  }

  to {
    margin-left: initial;
    z-index: -1;
  }
}
