.route.Home {

  .page-header {
    padding: 120px 0;

    text-align: center;

    background: linear-gradient(to bottom, #{$color_bg-medium}, #{darken($color_bg-medium, 6)});

    @include media(small) { padding: 80px 0; }
  }

  .SearchBar {
    max-width: 800px;
    margin: 0 auto;

    @include media(small) { width: 90%; }
  }

  .page-section{
    padding: 40px 0;
  }

  .page-section__map {
    margin-bottom: -50px;
    padding-bottom: 0;
  }
}
