<% content_for :head do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/0.47.0/mapbox-gl.js"></script>
  <%= stylesheet_pack_tag 'pages' %>
  <%= javascript_pack_tag 'pages', defer: true %>
<% end %>
<div id="root"></div>
<% if Rails.env.development? %>
  <script src="http://localhost:8097"></script>
<% end %>


