database:
  host:
  username:
  password:
  port: 5433
  geospatial:
    database:
    schema:
      data:
      metadata:
  tabular:
    database:
    schema:
      data:
      metadata:
carto:
  api_key: ''
  url: 'https://user.carto.com'
