    <h1>NAICS Bar Chart Race</h2>
    <div class="naics-bar-chart-race"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.14.2/d3.min.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <%= javascript_pack_tag 'naics-bar-chart-race' %>

