.component.CommunitySelector {

  height: 780px;
  width: 100%;

  .map-layer { height: 100%; width: 100%; }

  .mapboxgl-canvas-container { height: 100%; }

  .search-box {
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .SearchBar {
    width: 20%;
  }
}
