.component.menus-component {
  display: flex;

  font-weight: 700;

  ul { width: 100%; }

  small {
    float: right;

    color: $color_font-medium;
    font-weight: 400; 
    font-style: italic;
  }
  
}
