.component.Tab {
  display: none;
  &.active {
    display: block;
  }
  .tab-row {
    display: flex;
    padding: 2em 8em;
    & > .chart-wrapper {
      flex: 1;
      &:first-child {
        margin-right: 6em;
      }
    }
    @include media(large) {
      display: block;
      padding: 2em 12em;
      & > .chart-wrapper {
        &:first-child {
          margin-right: 0em;
          margin-bottom: 2em;
        }
      }
    }
    @include media(medium-small) {
      padding: 2em 0em;
    }
  }
}
