footer {
  $_opaque: .8;
  $_break: 745px;

  z-index: 0;

  padding: 15px;

  color: rgba($color_font-light, $_opaque);
  font-size: #{(10/16)}rem;

  background: $color_bg-dark;

  @include media($_break) {
    font-size: #{(14/16)}rem;

    .break {
      display: block;
      visibility: hidden;

      height: 0;
      margin-top: -2px;
    }
  }

  .container {
    display: flex;
    vertical-align: middle;

    @include media($_break) {
      display: grid;
      grid-template-columns: .75fr 1fr;
      grid-template-rows: 1fr .75fr;
    }
  }

  .mapc-logo {
    height: 45px;
    margin: auto;
    margin-right: 40px;
  }

  ul {
    flex: 1 1;
    vertical-align: middle;

    padding: 0;
    margin: auto;

    list-style: none;

    @include media($_break) {
      border-left: 1px solid rgba($color_font-light, $_opaque);
    }

    &.contact-list li {
      padding: 6px 15px;

      border-right: 1px solid rgba($color_font-light, $_opaque);
      &:last-of-type { border-right: none; }

      @include media($_break) {
        padding: 3px 15px;
        padding-right: 0;

        border-right: none;
      }
    }

    &.social-list {
      display: inline-block;
      border-left: none;

      li {
        margin-left: 20px;

        @include media($_break) { margin-left: 15px; }
      }
    }

    li { display: inline-block; }

    img {
      height: 20px;
    }
  }

  a {
    color: $color_font-light;

    opacity: $_opaque;
    transition: opacity .18s;

    &:hover {
      color: $color_font-light;

      opacity: 1;
      transition: opacity .18s;
    }
  }

  .social {
    margin: auto;

    @include media($_break) { margin: auto 0; }
  }
}
