ul {

  &.styled {
    margin-top: 0;

    border: 1px solid $color_font-medium;
    border-top: none;
    overflow-y: auto;
    overflow-x: hidden;

    li {
      font-size: $font_size-small;

      background: $color_bg-light;

      &:nth-of-type(2n+1) { background: $color_bg-medium--light; }
      &:first-of-type a { border-top: none; }
      &:last-of-type a { border-bottom: none; }
    }

    a, span.a-tag {
      display: block;

      width: 100%;
      height: 100%;
      padding: .75em .9em;

      border: solid transparent;
      border-width: 1px 0;
      transition: border .12s;
      cursor: pointer;

      &.active, &:hover {
        color: $color_font-dark;

        border-color: $color_font-medium;
        transition: border .12s;
      }
    }
  }

}
