.chart {
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }

  .legend {
    padding: 15px;

    background: $color_bg-light;
    border: 1px solid $color_brand-primary;

    ul { margin: 0; }

    li {
      @extend ._clear;
      $_size: $font_size-xsmall;

      font-size: $_size;

      span {
        float: left;
        top: $_size / 2;
        display: block;

        height: $_size;
        width: $_size;
        margin-right: $_size;
      }
    }
  }


}
