.menu-item {
  -webkit-transition: border .12s;
  border: solid transparent;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  height: 100%;
  padding: .75em .9em;
  transition: border .12s;
  width: 100%;

  &__dataset-count {
    color: $color_font-medium;
    float: right;
  }

  &:hover {
    border-color: $color_brand-secondary--dark;
    transition: border .12s;
  }
}
