.Gallery {
  display: flex;
  flex-direction: column;
}

.CalendarGrid {
  @include media(large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(small) {
    grid-template-columns: 100%
  }

  align-self: center;
  display: grid;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1180px;
}

.calendar-item {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__month {
    font-size: $h2_size;
    font-weight: bold;
    margin-top: 0;
  }

  &__box {
    align-items: center;
    background: $color_font-dark;
    border: 1px solid $color_brand-secondary;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;

    &--blank {
      align-items: center;
      background: #B7E2C7;
      border: 1px solid #B7E2C7;
      color: #B7E2C7;
      display: flex;
      height: 285px;
      justify-content: center;
      transition: background .12s, color .12s;
      width: 100%;
    }

    &--blank:hover {
      background: white;
      color: $color_font-dark;
      transition: background .12s, color .12s;
    }
  }

  &__box:after {
    @extend ._pseudo;
    background: $color_brand-secondary;
    height: 100%;
    left: 4px;
    position: absolute;
    top: 4px;
    transition: background .12s, left .12s;
    width: 100%;
    z-index: -1;
  }

  &__box:hover {
    border-color: $color_brand-secondary--dark;

    &:after {
      background: $color_brand-secondary--dark;
      left: 6px;
      transition: background .12s, left .12s;
    }
  }

  &__image {
    height: 175px;
    object-fit: cover;
    width: 100%;
  }

  &__title-box {
    @include media(x-small) {
      height: 125px;
    }

    align-items: center;
    display: flex;
    height: 100px;
  }

  &__title {
    color: white;
    font-size: $font_size-medium;
    padding: 1rem;
    text-align: center;
  }
}

.calendar-viz {
  &__subtitle {
    @include media(large) {
      float: initial;
      margin: initial;
    }
    color: $color_font-medium;
    display: block;
    float: right;
    font-family: $font_family-primary;
    font-size: $font_size-medium;
    margin: -10rem 0 0 0;
    max-width: 40%;
  }

  &__year {
    @include media(small) {
      font-size: 3rem;
    }
    color: $color_font-medium;
    font-family: $font_family-primary;
    font-size: 3.75rem;
  }

  &__iframe {
    @include media(medium) {
      display: block;
      float: unset;
      margin: 0 auto;
    }

    @include media(small) {
      height: 333px;
      width: 400px;
    }

    @include media(x-small) {
      height: 250px;
      width: 300px;
    }
    border: 0;
    float: left;
    height: 500px;
    margin: 0 32px 32px 0;
    width: 600px;
    z-index: 10;
  }

  &__title {
    @include media(small) {
      font-size: $font_size-medium;
    }
  }

  &__subtitle-text {
    @include media(small) {
      font-size: $font_size-small;
    }

    color: $color_font-medium;
    font-family: $font_family-primary;
    font-size: $font_size-medium;
  }

  &__download-link {
    color: $color_font-medium;
    cursor: pointer;
    display: block;
    font-family: $font_family-primary;
    font-weight: 100;
    text-decoration: underline;
  }
}

.calendar-grid__cell {
  width: 250px;
}

.replay {
  &__container {
    cursor: pointer;
  }

  &__label {
    display: block;
    fill: black;
    float: right;
    font-family: $font_family-primary;
    font-size: $font_size-large;
    font-weight: bold;
    margin: .5rem 0;
    width: 17rem;
  }
}
