.Gallery {
  display: flex;
  flex-direction: column;
}

.CalendarGrid {
  @include media(large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(small) {
    column-gap: 60px;
  }

  @include media(x-small) {
    column-gap: 30px;
  }
  align-self: center;
  display: grid;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1180px;
}

.calendar-item {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__month {
    font-size: $h2_size;
    font-weight: bold;
    margin-top: 0;
  }

  &__box {
    align-items: center;
    background: $color_font-dark;
    border: 1px solid $color_brand-secondary;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;

    &--blank {
      align-items: center;
      background: #B7E2C7;
      border: 1px solid #B7E2C7;
      color: #B7E2C7;
      display: flex;
      height: 285px;
      justify-content: center;
      transition: background .12s, color .12s;
      width: 100%;
    }

    &--blank:hover {
      background: white;
      color: $color_font-dark;
      transition: background .12s, color .12s;
    }
  }

  &__box:after {
    @extend ._pseudo;
    background: $color_brand-secondary;
    height: 100%;
    left: 4px;
    position: absolute;
    top: 4px;
    transition: background .12s, left .12s;
    width: 100%;
    z-index: -1;
  }

  &__box:hover {
    border-color: $color_brand-secondary--dark;

    &:after {
      background: $color_brand-secondary--dark;
      left: 6px;
      transition: background .12s, left .12s;
    }
  }

  &__image {
    height: 175px;
    object-fit: cover;
    width: 100%;
  }

  &__title-box {
    @include media(x-small) {
      height: 125px;
    }

    align-items: center;
    display: flex;
    height: 100px;
  }

  &__title {
    color: white;
    font-size: $font_size-medium;
    padding: 1rem;
    text-align: center;
  }
}

.jobs {
  margin-right: 5rem;

  &__title {
    display: block;
    font-family: $font_family-primary;
    font-weight: bolder;
    font-size: $font_size-large;
    padding: 1rem 0;
  }

  &__year {
    color: $color_font-medium;
    font-family: $font_family-primary;
    font-weight: bolder;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    display: block;
    float: right;
    color: $color_font-medium;
    font-family: $font_family-primary;
    font-weight: bold;
    font-size: $font_size-medium;
    left: -15rem;
    margin-top: -9rem;
    width: 17rem;
  }

  &__subtitle-text {
    display: block;
    float: right;
    color: $color_font-medium;
    font-family: $font_family-primary;
    font-weight: bold;
    font-size: $font_size-medium;
    margin: .5rem 0;
    width: 17rem;
  }

  &__download-link {
    display: block;
    color: $color_font-medium;
    cursor: pointer;
    display: block;
    font-family: $font_family-primary;
    font-style: italic;
    font-weight: 100;
    margin-top: 1rem;
    text-decoration: underline;
  }

  &__explanation {
    display: block;
    margin-top: 3rem;
  }
}

.calendar-grid__cell {
  width: 250px;
}

.replay {
  &__container {
    cursor: pointer;
  }
  
  &__label {
    display: block;
    fill: black;
    float: right;
    font-family: $font_family-primary;
    font-size: $font_size-large;
    font-weight: bold;
    margin: .5rem 0;
    width: 17rem;
  }
}
