.component.CategoryGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;

  /* Microsoft should be illegal */
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;

  li {
    margin: 20px;

    &:nth-of-type(1) {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
    }
    &:nth-of-type(2) {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }
    &:nth-of-type(3) {
      -ms-grid-column: 3;
      -ms-grid-row: 1;
    }
    &:nth-of-type(4) {
      -ms-grid-column: 4;
      -ms-grid-row: 1;
    }
    &:nth-of-type(5) {
      -ms-grid-column: 5;
      -ms-grid-row: 1;
    }
    &:nth-of-type(6) {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }
    &:nth-of-type(7) {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
    }
    &:nth-of-type(8) {
      -ms-grid-column: 3;
      -ms-grid-row: 2;
    }
    &:nth-of-type(9) {
      -ms-grid-column: 4;
      -ms-grid-row: 2;
    }
    &:nth-of-type(10) {
      -ms-grid-column: 5;
      -ms-grid-row: 2;
    }
  }

  @include media(medium) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;

    li {
      margin: 12px;

      &:nth-of-type(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
      }
      &:nth-of-type(2) {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
      }
      &:nth-of-type(3) {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
      }
      &:nth-of-type(4) {
        -ms-grid-column: 4;
        -ms-grid-row: 1;
      }
      &:nth-of-type(5) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
      }
      &:nth-of-type(6) {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
      }
      &:nth-of-type(7) {
        -ms-grid-column: 3;
        -ms-grid-row: 2;
      }
      &:nth-of-type(8) {
        -ms-grid-column: 4;
        -ms-grid-row: 2;
      }
      &:nth-of-type(9) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
      }
      &:nth-of-type(10) {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
      }
    }
  }

  @include media(small) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;

    li {
      margin: 10px;

      &:nth-of-type(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
      }
      &:nth-of-type(2) {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
      }
      &:nth-of-type(3) {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
      }
      &:nth-of-type(4) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
      }
      &:nth-of-type(5) {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
      }
      &:nth-of-type(6) {
        -ms-grid-column: 3;
        -ms-grid-row: 2;
      }
      &:nth-of-type(7) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
      }
      &:nth-of-type(8) {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
      }
      &:nth-of-type(9) {
        -ms-grid-column: 3;
        -ms-grid-row: 3;
      }
      &:nth-of-type(10) {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
      }
    }
  }

  @include media(x-small) {
    padding: 12px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;

    li {
      &:nth-of-type(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
      }
      &:nth-of-type(2) {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
      }
      &:nth-of-type(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
      }
      &:nth-of-type(4) {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
      }
      &:nth-of-type(5) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
      }
      &:nth-of-type(6) {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
      }
      &:nth-of-type(7) {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
      }
      &:nth-of-type(8) {
        -ms-grid-column: 2;
        -ms-grid-row: 4;
      }
      &:nth-of-type(9) {
        -ms-grid-column: 1;
        -ms-grid-row: 5;
      }
      &:nth-of-type(10) {
        -ms-grid-column: 2;
        -ms-grid-row: 5;
      }
    }
  }

  li {
    border: 1px solid $color_brand-secondary;

    &:after {
      @extend ._pseudo;

      position: absolute;
      top: 4px;
      left: 4px;
      z-index: -1;

      width: 100%;
      height: 100%;

      background: $color_brand-secondary;
      transition: background .12s, left .12s;
    }

    &:hover {
      border-color: $color_brand-secondary--dark;

      &:after {
        left: 6px;

        background: $color_brand-secondary--dark;
        transition: background .12s, left .12s;
      }
    }

    a {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: 100%;
      padding: 30px;

      color: $color_font-dark;
      font-size: $font_size-base--rem;
      font-weight: 500;
      text-align: center;

      background: $color_bg-light;

      @include media(medium) { padding: 20px; }
      @include media(x-small) {
        padding: 25px;

        font-size: $font_size-base--rem - $font_mod-small;
      }

      .category-title {
        margin: auto;
        font-weight: 500;
      }
    }

    .category-image {
      flex: 1 1 70%;

      width: 100%;
      height: 100%;
      min-height: 74px;
      margin: 0 auto 25px;

      @include media(medium) {
        flex: 1 0 45%;

        min-height: 60px;
        margin: 0 auto 20px;
      }

      img {
        @extend ._vertical-center;

        max-height: 100%;
        max-width: 100%;
        margin: auto;
      }
    }
  }

}
