.component.CommunityProfiles {

  .page-header {
    padding-bottom: 0;
    a {
      position: absolute;
    }
    .back-link {
      z-index: 10;
      @include media(medium){
        display: none;
      }
      @media print {
        display: none;
      }
      a {
        color: $color_brand-primary;
        font-weight: 700;
        &:hover {
          color: $color_font-dark--brand;
        }
      }
    }
  }
  header {
    text-align: left;
    background-color: transparent;
    padding: 0 8em;
    margin-bottom: 1.5em;
    h2 {
      font-size: $font_size-large;
      margin: 0;
    }
    @include media(medium) {
      padding: 0;
    }
    @media print {
      padding: 0;
    }
  }
  header.print-header {
    display: none;
    @media print {
      display: block;
      border-bottom: 1px solid $color_font-medium;
    }
  }

  section.about {
    display: flex;
    padding: 0 8em 1em 8em;

    .outline {
      margin-right: 3em;
      svg {
        width: 150px;
        height: 150px;
      }
      @include media(medium-small) {
        width: 0;
        height: 0;
        overflow: hidden;
        margin: 0;
      }
      @media print {
        width: 0;
        height: 0;
        overflow: hidden;
        margin: 0;
      }
    }
    .description {
      flex: 1;
    }
    @include media(medium) {
      padding: 0 0 1em 0;
    }
    @media print {
      padding: 0 0 1em 0;
    }
  }
  .data {
    @extend ._partial-bg;
    @include media(medium) {
      &:after {
        display: none;
      }
    }
    .tab-selection {
      @media print {
        display: none;
      }
    }
    ul.tabs {
      margin: 0 8em 0 calc(11em + 150px);
      padding: 0;
      display: flex;
      z-index: 1;
      flex-wrap: wrap-reverse;
      @include media(large) {
        margin: 0 8em 0 8em;
      }
      @include media(medium) {
        display: none;
      }
      border-left: 1px solid $color_font-medium;
      li {
        list-style-type: none;
        background-color: $color_bg-light;
        border-top: 1px solid $color_font-medium;
        border-right: 1px solid $color_font-medium;
        a {
          display: block;
          white-space:nowrap;
          color: $color_font-dark;
          font-size: $font_size-xsmall;
          padding: 4px 8px;
          font-weight: normal;
          border-bottom: 1px solid $color_font-medium;
          margin-bottom: -1px;
          &:hover {
            color: $color_font-medium;
          }
        }
        &.active a {
          border-bottom: 1px solid $color_bg-light;
        }
        &:last-child {
          border-right: 1px solid $color_font-medium;
        }
      }
    }
    .dropdown-wrapper {
      padding: 1em 0;
      display: none;
      @include media(medium) {
        display: block;
      }
    }
    .box {
      border-top: 1px solid $color_font-medium;
      background-color: $color_bg-light;
      min-height: 300px;
      @include media(medium) {
        border: none;
      }
      @media print {
        border: none;
      }
      .chart-wrapper {
        @media print {
          page-break-inside: avoid;
        }

        h3 {
          margin: 0;
          font-size: $font_size-small;
          font-weight: 700;
        }
        .caveat, .metadata {
          color: $color_font-medium;
          font-size: $font_size-xsmall;
        }
        .metadata {
          font-style: italic;
          .source-timeframe {
            display: flex;
            & > *:not(:last-child) {
              margin-right: 1em;
            }
          }
          a {
            color: $color_font-medium;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }

}
