.moonloader__wrapper {
  align-items: center;
  color: $color_font-medium--dark;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
