.gallery-spotlight,
.calendar-spotlight {
  &__paragraph {
    margin: 0 0 1.25rem;
  }

  &__image {
    width: 100%;
  }

  &__button {
    background: #fff;
    border: 1px solid $color_brand-secondary;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: $p_size;
    font-weight: bolder;
    margin: 1rem 0 0 0;
    padding: 1rem;
    text-decoration: underline;
    width: 170px;

    &:hover {
      border-color: #3a9374;

      &::after {
        -webkit-transition: background .12s, left .12s;
        background: #3a9374;
        left: 6px;
        transition: background .12s, left .12s;
      }
		}

    &::after {
      @extend ._pseudo;
      background: $color_brand-secondary;
      height: 100%;
      left: 4px;
      position: absolute;
      top: 4px;
      transition: background .12s, left .12s;
      width: 100%;
      z-index: -1;
    }
  }

  &__divider {
    border: 1rem solid #F5F5F5;
    box-sizing: unset;
    margin: 0 0 40px 0;
  }
}

.calendar-spotlight {
  margin: 0 auto 60px;
  max-width: 100%;
  width: 1180px;

  &__image-wrapper {
    display: inline-block;
    position: relative;
    width: 250px;

    @media screen and (max-width: 414px) {
      padding: 0 4rem;
      width: 100%;
    }

    &:hover {
      border-color: #3a9374;

      &::after {
        -webkit-transition: background .12s, left .12s;
        background: #3a9374;
        left: 6px;
        transition: background .12s, left .12s;
      }
		}

    &::after {
      @extend ._pseudo;
      background: $color_brand-secondary;
      height: 332px;
      left: 4px;
      position: absolute;
      top: 4px;
      transition: background .12s, left .12s;
      width: 100%;
      z-index: -1;

      @media screen and (max-width: 1350px) {
        display: none;
      }
    }
  }

  &__image {
    border: 1px solid $color_brand-secondary;

    &--after {
      display: none;
      transition: display .12s;
    }
  }

  &__image-wrapper:hover > .calendar-spotlight__image--after {
    align-items: center;
    background: rgba(174, 221, 191, .6);
    height: 332px;
    justify-content: center;
    left: 0;
    line-height: 2rem;
    padding: 2rem;
    position: absolute;
    text-align: center;
    top: 0;
    transition: display .12s;
    width: 100%;
  }

  &__info {
    display: inline-block;
    max-width: 100%;
    padding: 0 0 0 4rem;
    vertical-align: top;
    width: 54rem;

    @media screen and (max-width: 1194px) {
      width: 38rem;
    }

    @media screen and (max-width: 414px) {
      padding: 0 1rem;
      width: 100%;
    }
  }

  @media screen and (max-width: 1194px) {
    width: 870px;
  }
}

.gallery-spotlight {
  column-gap: 40px;
  margin: 0 auto;

  &__title {
    margin-left: -20px;
  }

  &__image {
    display: inline-block;
    height: auto;
    margin: 0 20px 60px 20px;
    max-width: 100%;
    padding-right: 20px;
    width: 30rem;

    @media screen and (max-width: 414px) {
      margin: 2rem auto 0;
      width: 100%;
    }
  }

  &__info {
    display: inline-block;
    max-width: 100%;
    padding: 0 1.25rem;
    vertical-align: top;
    width: 48rem;

    @media screen and (max-width: 1194px) {
      width: 27rem;
    }

    @media screen and (max-width: 414px) {
      width: 100%;
    }
	}
}
