.gallery-spotlight {
  column-gap: 40px;
  margin: 0 auto;
  
  &__paragraph {
    margin: 0 0 1.25rem;
  }

  &__image {
    width: 100%;
  }

  &__divider {
    border: 1rem solid #F5F5F5;
    box-sizing: unset;
    margin: 0 0 40px 0;
  }

  &__title {
    margin-left: -20px;
  }

  &__image {
    display: inline-block;
    height: auto;
    margin: 0 20px 60px 20px;
    max-width: 100%;
    padding-right: 20px;
    width: 30rem;

    @media screen and (max-width: 800px) {
      margin: 2rem auto 0;
      width: 100%;
    }
  }

  &__info {
    display: inline-block;
    padding: 0 1.25rem;
    vertical-align: top;
    width: calc(100% - 32.5rem);

    @media screen and (max-width: 800px) {
      width: 100%;
    }
	}
}
