.table-wrapper .scroll-horizontal-rotated {
  border: 1px solid $color_font-medium;
}

.ui.table {
  padding-top: 10px;
  color: $color_font-dark !important;

  border-radius: 0;
  background: $color_bg-medium;

  thead {
    th {
      padding: .5em 2em .5em 1em !important;

      color: $color_font-dark !important;
      font-size: $font_size-xsmall;
      font-weight: 400;

      background: $color_bg-light;
      border-radius: 0;
      border-top: 1px solid;
      border-color: $color_font-medium !important;

      &:hover { background: $color_bg-medium--light !important; }
    }
  }

  tbody {
    tr:nth-of-type(even) {
      td { background: $color_bg-medium--light; }
    }

    td {
      padding-left: 1em !important;
      border: none;
      background: $color_bg-light;
    }
  }
}
