$color_brand-primary: #63AEA9;
$color_brand-secondary: #F5A87C;

$color_bg-light: #FFFFFF;
$color_bg-medium: mix(#C9C9C9, #EBEBEB, 50);
$color_bg-dark: #818184;

$color_font-light: #FFFFFF;
$color_font-medium: #C9C9C9;
$color_font-dark: #413E56;

$font_family-primary: 'europa', Helvetica, sans-serif;
