$color_brand-primary: #47B593;
$color_brand-secondary: #1F4E46;

$color_bg-light: #FFFFFF;
$color_bg-medium: #F5F5F5;
$color_bg-dark: #1F4E46;

$color_font-light: #FFFFFF;
$color_font-medium: #95989A;
$color_font-dark: #1F4E46;

$font_family-primary: 'skolar-sans-latin', Helvetica, sans-serif;
