.route.Home {

  .page-header {
    padding: 92px 0;

    text-align: center;
  }

  .SearchBar {
    max-width: 800px;
    margin: 0 auto;
  }

  h2 {
    margin: 0;
    padding: 40px 0;
  }

  .CategoryGrid { margin: 0 auto 80px; }

  .page-section:last-of-type { margin-bottom: -50px; }
}
